@using GameWebsite.Data.Models
@model List<Artwork>

@{
    ViewData["Title"] = "Artworks";
}

<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    text-align: center;
}

div.title {
    padding: 15px;
    text-align: center;
}
</style>

<div class="row" style="text-align: center">
    <h1>Artworks: @Model.Count()</h1>
</div>
<div class="row" style="text-align: center">
    @foreach(var artwork in Model)
    {
       <div class="col-md-3 mb-4">
            <div class="gallery" style="width: 100%;">
                <a target="_blank" href=@artwork.ArtworkURL>
                    <img src="@artwork.ArtworkURL" alt="@artwork.Title" class="card-img-top">
                    <div class="title"><h3>@artwork.Title</h3></div>
                </a>
                <a asp-controller="Artwork" asp-action="Delete" asp-route-id="@artwork.Id" method="post" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1" style="margin-bottom: 6px" onclick="return confirm('Are you sure you want to delete this artwork?');">Delete</a>
            </div>
        </div>
    }
</div>
